<body style="background-color: #333;">
    <div class="container">
        <div class="sidebar">
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/582/322/94d.png" height="150" width="100"
                style="margin-left: 30px;">
            <p style="font-family:cursive; color:aqua; margin-left: 30px;">ATN Store
            <p>
                <a href="/">Home Page</a>
                <a href="/manager">Manage Page</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
        </div>
        <div class="content-container">
            <div class="introduce">
                <div class="intro-text" style="font-family:cursive">
                    <h1>
                        Welcome to Toy shop
                    </h1>
                    <p>If you are an admin you can manage the shop in there.<br>Please feel free to contact me when you
                        get an
                        error.</p>
                </div>
                <img src="https://i.pinimg.com/originals/a5/e1/93/a5e19359f7a639bd4058e94015c9b1ab.png" alt=""
                    style="height: 150px; width: 200px;">
            </div>
            <div class="category">
                <div class="row">
                    <div class="col">
                        <img src="{{ figures.image }}" alt="dien thoai" width="350" height="400"
                            style="border-radius: 20px;">
                        <h3 class="text text-primary mt-3" style="margin-left:80px">{{ figures.name }}</h3>
                    </div>
                    <div class="col">
                        <h1>Detail</h1>
                        <table class="table">
                            <tr>
                                <th>Price</th>
                                <th>{{ figures.price }}$</th>
                            </tr>
                            <tr>
                                <th>Brand</th>
                                <th>{{ figures.brand }}</th>
                            </tr>
                            <tr>
                                <th>Quantity</th>
                                <th>{{ figures.quantity }}</th>
                            </tr>
                            <tr>
                                <th>date</th>
                                <th>
                                    {{ figures.date }}</th>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <th>{{ figures.description }}</th>
                            </tr>

                            <tr>
                                <th></th>
                                <th>
                                    <form action="/figure/order" method="post">
                                        <input class="form-control mb-3" type="number" name="quantity" min="1"
                                            max="{{ figures.quantity }}" required>
                                        <input type="hidden" name="price" value="{{ figures.price }}">
                                        <input type="hidden" name="id" value="{{ figures._id }}">
                                        <input class="btn btn-primary" type="submit" value="Order">
                                    </form>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    </div>
    </div>
    <div class="footer">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
    </div>
</body>