<body style="background-color: #333;">
   <div class="container">
      <div class="sidebar">
         <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/582/322/94d.png" height="150" width="100"
            style="margin-left: 30px;">
         <p style="font-family:cursive; color:aqua; margin-left: 30px;">ATN Store
         <p>
            <a href="/">Home Page</a>
            <a href="/manager">Manage Page</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
      </div>
      <div class="content-container">
         <div class="introduce">
            <div class="intro-text" style="font-family:cursive">
               <h1>
                  Welcome to Toy shop
               </h1>
               <p>If you are an admin you can manage the shop in there.<br>Please feel free to contact me when you
                  get an
                  error.</p>
            </div>
            <img src="https://i.pinimg.com/originals/a5/e1/93/a5e19359f7a639bd4058e94015c9b1ab.png" alt=""
               style="height: 150px; width: 200px;">
         </div>
         <div class="category">
               <h1 class="text text-danger">Order successfully</h1>
               <img src="{{woods.image}}" width="200" height="200" alt="">
               <h3>Toy name: {{woods.name}}</h3><br>
               <h3>Order quantity: {{quantity}}</h3><br>
               <h3>Price: {{woods.price}}</h3><br>
               <h3>Total money: {{total}}$</h3>
         </div>
      </div>
      </form>
   </div>

   </div>
   </div>
   <div class="footer">
      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
   </div>
</body>